# TeamsFx files
env
env/.env.*.user
env/.env.local
.env
appPackage/build

# python virtual environment
.venv/
src/__pycache__/
src/utils/__pycache__/

# others
.deployment/
node_modules/
devTools/*.log